* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 5vh;
}

h2 {
  font-size: 3vh;
}

h3 {
  font-size: 2vh;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0vh 1vh 1vh 1vh;
  display: flex;
  justify-content: space-between;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7vh;
  padding: 1vh;
  border: .2vh solid transparent;
}

.header-item:hover {
  cursor: pointer;
  border: .2vh solid white
}

.header-item img {
  height: 100%;
}

header a {
  color: #fff;
  text-decoration: none;
}

header h1 {
  font-size: 5vh;
}

@media (max-width: 200px) {
  header h1 {
    font-size: 3vh;
  }
  footer p {
    font-size: 2vh;
  }
}

nav {
  display: flex;
}

nav a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 650px) {
  nav ul {
    flex-direction: column;
  }
  nav, nav ul, header a {
    width: 100%;
  }
  header {
    flex-direction: column;
    align-items: center;
  }
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1vh;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1vh;
}